<h1 style="text-align: center;">Carrito</h1>
<article>
  <table>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.product.title}}</td>
          <td>{{this.product.price}}</td>
          <td>{{this.product.stock}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</article>