<div style="display: flex; justify-content:center; align-items:center">
  <article style="width: 500px;">
    <h4>Recupera tu contraseña</h4>
    <form action="/api/auth/forgot-password" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" />
      <button type="submit">Recuperar</button>
    </form>
    <p>Registrate <a href="./register">aqui!</a></p>
    <p>Ingresa <a href="./">aqui!</a></p>
  </article>
</div>