<div style="display: flex; justify-content:center; align-items:center">
  <article style="width: 500px;">
    <form action="/api/sessions/login" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" />
      <label for="password">Contraseña</label>
      <input type="password" name="password" />
      <button type="submit">Ingresar</button>
    </form>
    <p>Registrate <a href="http://localhost:8080/register">aqui!</a></p>
  </article>
</div>