<article>
  <h1>Perfil</h1>
  <h4>Nombre: {{user.first_name}}</h4>
  <h4>Apellido: {{user.last_name}}</h4>
  <h4>Edad: {{user.age}}</h4>
  <h4>Email: {{user.email}}</h4>
  <a href="/products" role="button" style="width: 150px;">Volver</a>
</article>