<div id="products" style="display: flex; flex-wrap: wrap"></div>

<div style="display: flex; justify-content: space-evenly"><article
    style="width: 600px;"
  >
    <h2>Agregar Producto</h2>
    <form id="addProduct">
      <label for="title">Nombre: </label>
      <input type="text" name="title" />
      <label for="description">Descripcion:</label>
      <input type="text" name="description" />
      <label for="price">Precio:</label>
      <input type="number" name="price" />
      <label for="thumbnail">Imagenes:</label>
      <input type="text" name="thumbnail" />
      <label for="code">Codigo:</label>
      <input type="text" name="code" />
      <label for="stock">Stock:</label>
      <input type="number" name="stock" />
      <label for="status">Status:</label>
      <select id="status" name="status">
        <option value="true">Verdadero</option>
        <option value="false">Falso</option>
      </select>
      <label for="category">Category:</label>
      <input type="text" name="category" />
      <button type="submit">Enviar</button>
    </form></article>

  <article style="width: 600px"><h2>Eliminar Producto</h2>
    <form id="deleteProduct">
      <label for="id">Id:</label>
      <input type="text" name="id" />
      <button type="submit">Enviar</button>
    </form></article></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>