<div id="products"></div>

<h2>Agregar Producto</h2>
<form id="addProduct">
  <label for="title">Nombre</label>
  <input type="text" name="title" />
  <label for="description">Descripcion</label>
  <input type="text" name="description" />
  <label for="price">Precio</label>
  <input type="number" name="price" />
  <label for="thumbnail">Imagenes</label>
  <input type="text" name="thumbnail" />
  <label for="code">Codigo</label>
  <input type="text" name="code" />
  <label for="stock">Stock</label>
  <input type="number" name="stock" />
  <label for="status">Status</label>
  <select id="status" name="status">
    <option value="true">Verdadero</option>
    <option value="false">Falso</option>
  </select>
  <label for="category">Category</label>
  <input type="text" name="category" />
  <button type="submit">Enviar</button>
</form>
<h2>Eliminar Producto</h2>
<form id="deleteProduct">
  <input type="text" name="id" />
  <button type="submit">Enviar</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>