<div style="display: flex; justify-content:center; align-items:center">
  <article style="width: 500px;">
    <h4>Escribe tu contraseña nueva</h4>
    <form id="resetPassword">
      <label for="password">Contraseña</label>
      <input type="password" name="password" />
      <button type="submit">Restaurar</button>
    </form>
  </article>
</div>

<script src="/js/resetPassword.js"></script>